a.navbar-brand.navbar-link{
}

body{
}

#logo{
  max-height:40px;
  margin-right:10px;
  margin-top:-3px;
  display:inline-block;
}


#footer p.footnote {
	color: #08090e;
	height: 40px;
	line-height: 40px;
	margin: 0;
	text-align: center;
	text-shadow: 0 1px #353446;
}

.nav-tabs{
	background: #ddd;
	padding-top: 5px;
	padding-left: 5px;
}
.tab-content{
	border: 1px solid #ccc;
	border-top: none;
	margin-bottom: 20px;
}
.tab-content ul{
	padding: 0;
}
.tab-content li{
	list-style: none;
	border-bottom: 1px solid #eee;
	padding: 10px;
	overflow: hidden;
}
.tab-content img{
	width: 80px;
	height: 60px;
	float: left;
	margin-right: 10px;
}
.sidebar {
		position: fixed;
		top: 51px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		display: block;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;
		background-color: #f5f5f5;
		border-right: 1px solid #eee;
}
@media (max-width: 768px){
	.sidebar {
		position: relative;
	}
}
.sub-header {
	margin-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.main{
	padding: 20px;
}